/* CSS ANIMATIONS */

/* ANIMATE SECTION 1 ON SCROLL */
#section1.scroll-triggered[data-sectionstate="inactive"] {

    .jd-contentblock-image {
        transform: translateX(-200px);
        opacity: 0;
    }

    .jd-contentblock-text {
        transform: translateX(200px);
        opacity: 0;
    }

}

#section1.scroll-triggered[data-sectionstate="active"] {

    .jd-contentblock-image {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }

    .jd-contentblock-text {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }
}